body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: monospace;
  line-height: 1.5;
}

p {
  padding: 1rem;
  color: white;
}

.error {
  background-color: lightcoral
}

.success {
  background-color: lightseagreen
}
