body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: monospace;
  line-height: 1.5;
}

p {
  padding: 1rem;
  color: white;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, .25)
  )
}

.error {
  background-color: lightcoral
}

.success {
  background-color: lightseagreen
}
